.inner{
	width: 1200px;
  	margin: 0 auto;
  	display: flex;
  	
}

.sub-menu{
	flex: 0 0 auto;
}

.active {background:#338cfa; color:#fff;}

.culturalContainer{
	flex: 1 1 auto;	/* div의 나머지 공간을 채우기 위해 사용*/
	padding-top: 50px;
	padding-left: 50px;
}

.top-cultural {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 33px;
}

.top-cbox {
	flex: 1;
    align-items: center;
    background-image: url('/image/culturalTop.jpg');	/*백그라운드 이미지*/
    background-repeat: no-repeat;						/*배경 이미지가 반복되지 않도록 설정*/
    background-position: right center;					/*이미지 시작위치 설정*/
    width: 381px; 
    height: 172px;
}

.top-cbox h1{
	font-size: 40px;
	font-weight: 400;		/*글씨 두께 조절*/
}

.top-cbox p{
	margin:15px 0;
	line-height: 1.4;
	white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.Route{
	display: flex;
	margin-top: 55px;
}

.Route li{
	margin-right:10px;
}

.bottom-cultural {
	line-height: 1.4;
}

.bottom-cultural b h3{
	font-size: 26px;
  	font-weight: 400; 
  	line-height: 1.6;
  	padding-top: 30px;
	color: skyblue;
}

.bottom-cultural span p{
	font-size: 16px;
  	font-weight: 510; 
  	line-height: 1.6;
  	color:rgb(92, 97, 105);
}

.cul-list {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cul-list a button{
	padding:10px 10px 10px 10px;
	background-color: rgb(34,34,34);
	font-size: 16px;
	font-weight: 500; 
	color: white;
}

/*****************************culForm********************************/
/*신청하기*/
.apply ul{
	display: flex;
	justify-content: right;
	margin-right: 30px;
	margin-top: -35px;
}

.apply ul li{
	padding: 8px 10px 8px 10px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: cornflowerblue;
}

.apply ul li a{
	color: white;
}
/**************************************************/

.top-menu{
	margin-top: 30px;
	margin-bottom: 00px;	
}

.top-menu ul{
	display: flex;
	font-size: 22px;
}
.top-menu ul li{	/*상단 메뉴칸*/
	padding:15px 30px 15px 30px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

/*상단 바 선택시 색 변경*/
.top-menu ul li.active {
    background-color: rgba(0, 0, 0, 0.4);
  }
.top-menu ul li.active a{
	color: white;
  }
  
.cul-list{
  	display: flex;
 	justify-content: center;
 	/*text-align: center;*/
 	margin-top: 30px;
  	margin-bottom: 20px;
}

.teach_list {
  	/*list-style: none; /* 기본 글머리 기호 제거 */
  	padding: 0;
  	display: flex;
  	flex-wrap: wrap; /* 항목이 다음 줄로 줄 바꿈되도록 허용 */
}

.ever_one{
	flex: 0 0 calc(33.33% - 30px); /* 1줄에 3개 요소가 보이도록 설정 */
	margin:0px 15px 25px 10px;
}

.list_area {
	text-align: left;
}

.list_area .title_area{
	word-break: break-all;	/*긴 단어가 줄바꿈 없이 오른쪽 끝까지 채워지고, 공백이 없이 다음 줄로 변경*/
	line-height: 1.2;
	margin:20px 10px 20px 10px;
	font-size: 18px;
}

.list_area .con2{
	line-height: 1.4;
}

.list_area .con2 li {
  position: relative;
  padding-left: 10px; /* 마커와 텍스트 사이의 간격을 조절하기 위한 패딩 값 */
  margin-bottom: 10px;
}

.list_area .con2 li:first-child::before{	/*첫번째 li만 적용(2줄짜리 텍스트라 따로 함)*/
	content: "•"; /* 임의의 원형 마커를 생성 */
  	color: #999999; /* 마커 색상 */
  	font-size: 16px; /* 마커 크기 */
 	position: absolute;
  	left: 0;
  	top: 22%;
  	transform: translateY(-50%);	/*세로 중앙을 기준으로 위쪽으로 50%만큼 이동*/
}

.list_area .con2 li::before {		/*::before > 선택한 요소의 시작 부분에 콘텐츠를 생성*/
  content: "•"; /* 임의의 원형 마커를 생성 */
  color: #999999; /* 마커 색상 */
  font-size: 16px; /* 마커 크기 */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);	/*세로 중앙을 기준으로 위쪽으로 50%만큼 이동*/
}

.list_area .con2 li span{
	margin-right: 20px;
}


/*****************************culResult********************************/
.resultMenu{
	margin-top: 30px;
	margin-bottom: 00px;	
}

.resultMenu ul{
	display: flex;
	font-size: 22px;
}
.resultMenu ul li{	/*상단 메뉴칸*/
	padding:15px 70px 15px 70px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

/*상단 바 선택시 색 변경*/
.resultMenu ul li.active {
    background-color: rgba(0, 0, 0, 0.4);
  }
.resultMenu ul li.active a{
	color: white;
  }



