body {
	margin: 0;
	padding: 0;
}
#top_container{
	display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 95px;
    width:100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.4);
}

.notification {
    border:1px solid #ddd;
    border-radius:15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    width:400px;
    max-height: 400px;
    overflow-y: auto; /*컨텐츠가 넘칠 때 세로 스크롤바 자동 생성*/
    position: absolute;
    top:85px;
    right:0px;
    z-index:999999;
    color:#666;
    background-color: #fff;
    padding:10px;
}

.notification.show {
    opacity: 0.8;
    visibility: visible;
}

.pageContent_mt{ margin-top: 165px !important;}
.container {
	/*max-width: 1200px;*/
	margin: 0 auto;
	/*background-color: white;*/
	width: 1200px;
	height:80px;
	line-height:80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding: 0px;
}

.logo img {
	height: auto;
	padding-left: 10px;
	margin: 0 auto;
}

.main_search {
	margin: 0 auto;
}

.main_search form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main_search input[type="text"] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 5px;
	width: 250px;
	height: 35px;
}

.main_search button {
	padding: 4px 7px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.main_nav {
	overflow: hidden;
	height:80px;
	line-height:80px;
	padding: 0;
	margin: 0;
	color: white;
}


.main_nav ul {
	display: table;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	box-sizing: border-box;
}

.main_nav ul.left li {
	display: table-cell;
	font-size: 0px;
	height: 45px;
	line-height: 80px;
	box-sizing: border-box;
}

.main_nav ul.left li:last-child{
	margin-top:-17px;
	vertical-align: middle;
}
.main_nav ul.left li:last-child img{
	box-sizing: border-box;
	line-height:58px;
	margin-left:5px;
	margin-top:-7px;
	cursor:pointer;
}

.main_nav ul li a {
	text-decoration: none;
	/* 링크의 밑줄을 없앰 */
	color: white;
	display: inline-block;
	font-size: 17px;
	margin: 0 5px;
	box-sizing: border-box;

}

.header_nav {
	position: fixed;
	top:95px;
	height: 30px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin: 0 auto;
	/*margin-top: 50px;*/
	width: 100%;
	/*max-width: 1200px;*/
	/*border: 1px solid black;*/
	background-color: rgba(0,0,0,0.6);
    transition: height 0.3s ease, background-color 0.3s ease; /* 전환 속성 */
}

.header_nav ul {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	list-style-type: none;
	margin-bottom: 0;
	padding-top: 6px;
	font-size: 18px;
}

.header_nav li {
	flex-direction: column;
	/*margin: 0 50px;*/
	width: 200px;
}

.header_nav li a {
	display: inline-block;
    width: 100%;
    /*height: 100%;*/
	text-decoration: none;
	/* 링크의 밑줄을 없앰 */
	color: white;
}

.header_nav .toggleBox {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 295px;
	padding-top: 25px;
	opacity: 0; /* 최종 상태 */
    visibility: hidden; /* 최종 상태 */
	transition: opacity 0.3s ease, visibility 0.3s ease; /* 전환 속성 */

}

.header_nav .toggleBox li{
	margin-bottom: 30px;
}

.header_nav.show {
    opacity: 1; /* 최종 상태 */
    visibility: visible; /* 최종 상태 */
    height: 350px;
    background-color: rgba(0,0,0,0.7);
}

.header_nav .toggleBox.show {
	opacity: 1; /* 최종 상태 */
    visibility: visible; /* 최종 상태 */
	}
	
.fix{
	top:0;
}

table tr {
    height: 40px;
    line-height: 40px;
}
