.homeContainer{margin-top: 245px;}
.homeContainer::before{position: absolute; top: 0; left: 0; content: ""; display: inline-block;
    height: 647px; 
    width: 100%; 
    margin: 0 auto;
    min-width: 1200px;
    background: url('/image/visual_main2.jpg')no-repeat fixed 50% 40%;
    background-size: cover;
    opacity: 0.3;
}
.homeContainer .visual{background-color: rgba(0,0,0,0.7);}
.homeContainer .visual .inner, 
.homeContainer .condition .inner{display: flex; justify-content: space-between}
.homeContainer .visual{margin-top:90px;position: relative;
    z-index: 1;}

.homeContainer .visual .content.left, 
.homeContainer .visual .content.right{width: 48%; height: 400px; margin:0; border: 1px solid red;}

.homeContainer .condition {
    padding: 30px 0 80px 0;
}
.condition .announcement,
.condition .schedule,
.condition .readingRoom{width: 30%; height: 300px; border: 1px solid green;}