/*회원가입 - 카카오 연동 정보입력*/
.KRContainer{
	width: 700px; 
	margin:50px auto; padding: 50px 100px;
	background-color:#F5F6F7;}
.logo{width: 240px; margin:0 auto 20px auto;}
h1{font-size: 25px; color: #444015;}
input{margin-bottom: 10px; }
#id, #pw, #confirm, #name, #mobile {width: 300px;}

.KRContainer .logo{width: 240px; margin:0 auto 20px auto;}
.KRContainer input{margin: 10px 0 10px; }
.KRContainer label{display:inline-block; width:90px; margin-bottom:15px;}

.KRContainer .caution{color:red; font-size: 16px;}
.KRContainer .essential{font-weight: 400; }
.KRContainer .alert{color:blue;}

.KRContainer button, #postcodeBtn, #authBtn{padding:12px; cursor: pointer;}
.KRContainer .SMSBtn, .loginButton, .saveId{cursor: pointer;}

.KRContainer #id, .KRContainer #pw, #confirm, #name, #mobile, 
#proName, #birth, #postcode, #email, 
#nameLabel, #emailLabel {width: 300px;}

#idCheckLabel{margin-bottom: 5px;}

#idCondition, #passwordCondition{display:inline-block; margin-bottom: 7px;}

#address, #detailAddress{width: 450px; margin-left:94px;}
.KRContainer .registerBtn, .KRContainer .cancelBtn{width:175px; height:60px; padding:10px; cursor: pointer;font-size: 15px;}
.KRContainer .registerBtn{margin-right: 20px; 
background-color: #FEE500; color: #444015; border: transparent;font-size: 15px;}
.KRContainer input::placeholder{font-size: 15px;}

.daterangepicker .drp-buttons .btn {
    width: 60px;
    cursor: pointer;
}
.daterangepicker .drp-buttons .applyBtn{
	background-color: #338CFA;
	color: white;
}
  