.loginContainer{display: flex;}
h1{margin-bottom:50px;}
.checked{font-weight: 600;}

.loginContent{padding:50px 0 0 50px; width: 650px;}

.contentBox{display: flex; }
.loginImgBox { width : 180px; margin-right:50px;}
.loginImgBox  > img { width:100%; padding-top: 35px; padding-left: 10px;}
label{display:inline-block; width:80px; margin-bottom:15px;}
#id, #pw{width:230px; }
form{display: flex;}
.loginButton{background-color: skyblue; width:80px; 
color:white; border-color: transparent; font-size: 17px; cursor: pointer;}
.saveId{cursor: pointer;}

.kakao{width: 100%; height:55px; display : flex; justify-content: center;align-items: center;
background: #FEE500; 
border-radius: 12px; -moz-border-radius:12px;
margin-top: 10px; cursor: pointer;}

.bottomButtonBox{display:flex;justify-content: space-between;}
.registerButton, .findButton{
border-color: transparent; margin-top:10px; height:50px; font-size:15px; cursor: pointer;}
.registerButton{ padding: 0 65px 0 65px; margin-right:10px; }
.findButton{padding:0 30px 0 30px;}