@charset "UTF-8";


/*회원정보 수정*/
.myLibraryContainer {display:flex;}
h1{margin-bottom:50px;}
.checked{font-weight: 600;}

.myLibraryContent{padding:50px 0 0 50px; width:1000px;}

.subMenu_myInfo{border-bottom:2px solid #ddd; margin-top:45px;}
.subMenu_myInfo ul{display:table; border:1px solid #ddd; border-bottom:none;}
.subMenu_myInfo ul li{display:table-cell; width:150px; height:40px; line-height:40px; text-align:center; border-right:1px solid #ddd;}
.subMenu_myInfo ul li:last-child{border-right:none;}

.subMenu_myInfo ul li.active{background-color:#338cfa;color:#fff;}

.subMenu_myInfo ul li:hover{background-color:#338cfa;color:#fff; cursor: pointer;}

.active {background:#338cfa; color:#fff;}

.contentBox{font-size:0; padding:30px 0;}

.condition{display:inline-block; font-size:16px; width:100%; text-align:center;}
.condition label{font-weight:500; margin-right:10px;}
.condition select{width:100px; height:30px; margin-right:30px;}
.condition input[type="text"]{width:150px; height:30px; margin-right:30px;}
.condition input[type="button"]{width:50px; height:27px; line-height:27px; font-size:15px;}

.RIContainer{
	width: 700px; 
	padding: 50px 0 50px;
	}
.RIContainer .logo{width: 240px; margin:0 auto 20px auto;}
.RIContainer input{margin: 10px 0 10px; }
.RIContainer label{display:inline-block; width:90px; margin-bottom:15px;}

.RIContainer .myInfoId, .RIContainer .myInfoName, .RIContainer .myInfoBirth, .RIContainer .myInfoReject
{display: inline-block; height: 45px; line-height: 45px;}
    
.RIContainer .caution{color:red; font-size: 16px;}
.RIContainer .essential{font-weight: 400; }
.RIContainer .alert{color:blue;}

.RIContainer button, #postcodeBtn, #authBtn{padding:12px; cursor: pointer;}
.RIContainer .SMSBtn, .loginButton, .saveId{cursor: pointer;}

.RIContainer #id, .RIContainer #pw, #confirm, #name, #mobile, 
#proName, #birth, #postcode, #email, 
#nameLabel, #emailLabel {width: 300px;} 
#idCheckLabel{margin-bottom: 5px;}

#idCondition, #passwordCondition{display:inline-block; margin-bottom: 7px;}

#address, #detailAddress{width: 450px; margin-left:94px;}
.RIContainer .registerBtn, .RIContainer .cancelBtn{width:175px; height:60px; padding:10px; cursor: pointer;}
.RIContainer .registerBtn{margin-right: 20px;}
.RIContainer input::placeholder{font-size: 15px;}

.daterangepicker .drp-buttons .btn {
    width: 60px;
    cursor: pointer;
}
.daterangepicker .drp-buttons .applyBtn{
	background-color: #338CFA;
	color: white;
}

/*패스워드 수정*/
#currentPW, #newPW, #newConfirmPW {width: 280px;}
.updatePwContainer label{width: 136px;}

/* 회원 인증 */
.updateAuthContent{width: 700px; border: 1px solid black; 
padding: 30px 0 30px 20px; margin-bottom: 30px; line-height: 180%;}
.updateAuthContent label {width: 100px;}
.updateAuthForm #pw {width: 280px;}
.backBtn {width:175px; height:60px; padding:10px; cursor: pointer; text-align:center;}
.reapplyBtn {width:175px; height:60px; padding:10px; cursor: pointer; text-align:center;}
.result {height:45px; line-height:45px; color:red; font-weight:500;}

/*회원 탈퇴*/
.withdrawContent{width: 700px; border: 1px solid black; 
padding: 30px 0 30px 20px; margin-bottom: 30px; line-height: 180%;}
.withdrawForm .withdrawBtn{width:175px; height:60px; padding:10px; cursor: pointer;}
.withdrawForm #pw {width: 280px;}

/* 1:1문의 - 목록*/
.adminContainer {display:flex;}
h1{margin-bottom:50px;}
.checked{font-weight: 600;}

.adminContent{padding:50px 0 0 50px; width:1000px;}
.inquiryContainer{text-align:center; border-top:1px solid #ddd;}

.inquiry {overflow:hidden; width:100%;}
.inquiry tr:first-child{border-bottom:2px solid #555;}
.inquiry tr:hover{cursor:pointer; color:blue;}
.inquiry tr:first-child:hover{cursor:default; color:#000;}
.inquiry tr th{padding:5px;}
.inquiry tr td{padding:5px; text-align:center; border-bottom:1px solid #ddd;}

.inquiryContainer .inquiryBtn{width:100%; text-align:right; margin:20px 0;}

.inquiryPage {margin:40px 0;}
.inquiryContainer .inquiryPage a{display:inline-block; width:30px; height:30px; line-height:30px; font-weight:400; border:1px solid #ddd; margin-right:5px;}
.inquiryContainer .inquiryPage a:last-child{margin-right:0;}

.inquirySearch {display:inline-block; margin-top:40px; margin-bottom:20px;}
.inquirySearch select {width:80px; height:30px; text-align:center; padding:0; appearance: auto; -webkit-appearance: auto;}
.inquirySearch select.replySelect{margin:0 10px;}
.inquirySearch input[type="text"]{width:200px; height:30px; margin:0 10px;}
.inquirySearch input[type="button"]{width:50px; height:30px;}


/*1:1문의 - 작성*/
.inquiryFormContainer {display:flex;}
.inquiryFormContent{padding:50px 0 0 50px; width:1000px;}

.inquiryInfo {width:100%-10px; border:1px solid #ddd; margin:40px 0; padding:15px; line-height:145%; text-align:left;}
.inquiryContainer .inquiryWriteForm{width:100%; border-top:2px solid #555; border-bottom:2px solid #555;}
.inquiryContainer .inquiryWriteForm tr{border-bottom:1px solid #ddd;}
.inquiryContainer .inquiryWriteForm th{padding:10px; border-right:1px solid #ddd;}
.inquiryContainer .inquiryWriteForm td{padding:10px;}
.inquiryContainer .inquiryWriteForm input[type="text"]{height:30px;}

/*1:1문의 - 내용*/
.inquiryContainer .inquiryContentForm{width:100%; border-top:2px solid #555; border-bottom:2px solid #555;}
.inquiryContainer .inquiryContentForm tr{border-bottom:1px solid #ddd;}
.inquiryContainer .inquiryContentForm th{padding:10px; border-right:1px solid #ddd;}
.inquiryContainer .inquiryContentForm th.reply{border-left:1px solid #ddd;}
.inquiryContainer .inquiryContentForm td{padding:10px;}

/*1:1문의 - 수정*/
.inquiryFormContent{padding:50px 0 0 50px; width:1000px;}

.inquiryInfo {width:100%-10px; border:1px solid #ddd; margin:40px 0; padding:15px; line-height:145%; text-align:left;}
.inquiryContainer .inquiryUpdateForm{width:100%; border-top:2px solid #555; border-bottom:2px solid #555;}
.inquiryContainer .inquiryUpdateForm tr{border-bottom:1px solid #ddd;}
.inquiryContainer .inquiryUpdateForm th{padding:10px; border-right:1px solid #ddd;}
.inquiryContainer .inquiryUpdateForm td{padding:10px;}
.inquiryContainer .inquiryUpdateForm input[type="text"]{height:30px;}

