

h1 {
	margin-bottom: 50px;
}

.search_title {
	margin: 50px 0;
	line-height: 145%;
}

.search_title p {
	font-weight: 500;
	font-size: 20px;
}

.searchContainer .visual .inner,
.searchContainer .condition .inner {
	display: flex;
	justify-content: space-between;
}

.searchContainer .condition {
	position: relative;
	/*padding: 50px 0 50px 0;*/
}

.searchContainer .condition::before {
	position: absolute;
	top: -165px;
	left: 0;
	content: "";
	height: 908px;
	width: 100%;
	margin: 0 auto;
	min-width: 1200px;
	background: url('/image/search_background1.jpg')no-repeat fixed 50% 40%;
	background-size: cover;
	opacity: 0.3;
}

.searchContainer .condition .inner {
	position: relative;
	padding: 50px 0px;
}

.search_area {
	position: relative;
	width: 700px;
	height: 70px;
	background-color: white;
	border: 2px solid #338cfa;
	margin: 0 auto;
	border-radius: 60px;
}

.search_area>input {
	height: 100%;
	width: 575px;
	margin-left: 30px;
	background-color: transparent;
	border: transparent;
	font-size: 18px;
}

.search_area>input::placeholder {
	font-size: 18px;
}

.search_area .search_Btn {
	position: absolute;
	right: 7px;
	top: 6px;
	background-color: #338cfa;
	border: transparent;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding: 13px;
}

.search_area .search_Btn>img {
	width: 100%;
}

.searchContainer .visual {
	background-color: rgba(0, 0, 0, 0.6);
}

.searchContainer .visual {
	position: relative;
	z-index: 1;
	padding: 10px 0;
}

.searchContainer .visual .content.left,
.searchContainer .visual .content.right {
	height: 550px;
	margin: 0;
	/*border: 1px solid red;*/
}

.searchContainer .visual .content.left {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.searchContainer .visual .content.right {
	width: 35%;
}

.visual .content.left .popularBook,
.visual .content.left .newBook {
	/*border: 1px solid red;*/
	height: 50%;
	padding-top: 10px;
	color: white;
	font-weight: 500;
	font-size: 20px;
}

.popularBook .bookContainer,
.newBook .bookContainer {
	/*border: 1px solid blue;*/
	display: flex;
	padding-top: 10px;
}

.popularBook .bookImageBox,
.newBook .bookImageBox {
	margin-right: 20px;
	width: 130px;
	height: 180px;
	/*border: 1px solid black;*/
}

.popularBook .bookImageBox>img,
.newBook .bookImageBox>img {
	width: 100%;
	height: 100%;
}

/*통합검색*/

.search_totalContainer {display:flex;}
h1{margin-bottom:50px;}
.checked{font-weight: 600;}

.searchContent{padding:50px 0 0 50px; width:1000px;}

.searchContainer {
	margin-top: 152px;
}
.searchBox {
	border: 2px solid #ddd;
	padding: 30px;
	margin-bottom: 50px;
}

.search_area.totalSearch {
	width: 650px;
	height: 60px;
	border-radius: 0;
	border: 1px solid #666;
}

.search_area .search_Btn.totalSearch {
	background-color: transparent;
	padding: 9px;
	right: 0;
	top: 0;
}
.search_Container{
	border: 2px solid #ddd;
	margin-bottom: 20px;
	padding-top:20px;
	padding-bottom: 20px;
}

.search_result {
	display: flex;
	width: 100%;
	/*height: 200px;*/
	
}

.bookImgBox {
	display: flex;
	align-items: center;
	width: 155px;
	height: 177px;
	margin-left: 30px;
	cursor: pointer;
}

.bookImgBox .result_bookImg {
	width: 130px;
	/*height: 150px;*/
	cursor: pointer;
}

.bookImgBox .result_bookImg>img {
	width: 100%;
	height: 100%;
	/*object-fit: cover;*/
}

.bookImgBox .result_bookContent {
	height: 100%;
	width: 500px;

}

.bookContentBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
	margin-top: 28px;
}

.bookContentBox .title {
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 20px 0;
}

.bookContentBox .bookInfo {
	font-size: 16px;
	color: #888;
	font-weight: 400;
}

.bookContentBox .bookInfo>span {
	margin-bottom: 20px;
}


.bookContentBox .bookDtlButton,
.bookContentBox .bookStatusButton {
	display: inline-block;
	background-color: #338cfa;
	color: white;
	width: 124px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

.totalSearchPage {
	text-align: center;
	margin: 40px 0;
}

.totalSearchPage a {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 17px;
	border: 1px solid #ddd;
	margin-right: 5px;
	color: #000;
}

.totalSearchPage a:last-child {
	margin-right: 0;
}

/*책 소장 정보*/
.search_detailContainer {display:flex;}
.bookStatus_Container{
	/*display: flex;*/	
	justify-content: center;
	display: none;
	margin-top:20px;
	width: 100%;
	
}
.bookStatus_Container > table{
	text-align: center;
	border: 1px solid #ddd;
	width: 80%;
	margin:0 auto;
}
.bookStatus_Container > table >thead{
	background-color: #ddd;
	width: 50%;
}

.bookStatus_Container > table td, 
.bookStatus_Container > table th{
	border: 1px solid #888;
}

.bookStatus_Container > table .possible{
	color:blue;
}
.bookStatus_Container > table .impossible{
	color:red;
}
.bookStatus_Container .bookStatus_loanBook{
	background-color: #58ACFA;
	color:white;
	cursor: pointer;
}
.bookStatus_loanBook.impossible{
	background-color: white;
	cursor: default;
}

/*책 상세 페이지*/
.detail_contentBox {
	display: flex;
	border-top: 1px solid #ddd;
	padding: 30px 0 100px;
}

.detailImgBox {
	width: 200px;
	margin-right: 35px;
}

.detailImgBox>img {
	width: 100%;
}

.detailContent .detail_info {
	margin-bottom: 15px;
	font-size: 16px;
	color: #777;
	font-weight: 500;
}

.detailContent>h2 {
	margin-bottom: 15px;
}

.detailContent .detail_class {
	font-size: 17px;
	color: #000;
	margin-bottom: 15px;
}

.detail_class>span {
	display: inline-block;
	font-size: 16px;
	color: #338cfa;
	border: 1px solid #338cfa;
	padding: 3px;
	margin-right: 10px;
}

.detail_description {
	position: relative;
}

.detail_description .desc_title {
	font-size: 17px;
	font-weight: 400;
	margin: 50px 0 20px;
}

.detail_description>p {
	width: 600px;
	line-height: 140%;
	padding-bottom:20px;
}

.detail_loanBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0;
	bottom:-80px;
	z-index: 10;
}
.detail_loan {
	width: 55px;
	height: 55px;
	cursor: pointer;
}
.detail_loan >img {
	width: 100%;
	border-radius: 50%;
	background-size: 55px;
	cursor: pointer;
}

.detail_loan:hover {
	opacity: 0.8;
}

.detail_loanBox > span{
	font-size: 17px;
	font-weight: 500;
	color: #338cfa;
}
