.inner{width:240px;}
.subMenu{width:240px; margin-left :-20px; background-color: #fff;}

.subMenu h2{height:164px; line-height:164px; font-size:24px; font-weight:400; 
text-align:center; border:1px solid #ddd;}
.subMenu ul li{width:240px; font-size:18px;}
.subMenu ul li a{display:block; padding:20px 0; text-align:center; border:1px solid #ddd; border-top:0; color:#000}
.subMenu ul li a:hover{background:#338cfa; color:#fff; text-decoration: none;}
.subMenu ul li a.active{background:#338cfa; color:#fff;}

.button.active {background:#338cfa; color:#fff;}

